# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\내 드라이브\Python 코드\SimilarityChecker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
